# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django migrations
*/migrations/*

# Environment variables
.env

# IDE configuration files
.vscode/
.idea/
*.swp
